body {
	background-color: rgb(80, 80, 80);
}

.parent {
	position: relative;
}

#cluster {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	border: 11px solid rgb(144, 144, 144); 
	border-radius: 14px;
	box-shadow: 11px 13px 9px black;
}

#entrez {
	position: absolute;
	background-color: rgb(166, 252, 150);
	width: 528px;
	height: 175px;
	border-radius: 14px;
	box-shadow: 11px 13px 9px black;
	top: 524px;
	left: 503px;
}

#textInEntrez {
	position: absolute;
	top: 547px;
	left: 514px;
	font-size: 16px;
	/* letter-spacing: 0.7px; */
	font-family: Verdana, sans-serif;
}

#textEntrez {
	position: absolute;
	top: 532.5px;
	left: 561px;
	font-size: 33px;
	font-family: Georgia, serif;
	font-weight: lighter;
	letter-spacing: 0.65px;
}

#dordinateurs {
	position: absolute;
	top: 568px;
	left: 530px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	text-shadow: 0.3vw 0.4vh 4px #ff0000e2;
}

#d {
	position: absolute;
	top: 568px;
	left: 514px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

#quote{
	position: absolute;
	top: 568px;
	left: 526px;
	font-size: 16px;
	font-family: Arial, sans-serif;
}

#dots {
	position: absolute;
	top: 568px;
	left: 622px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

#bonjour {
	position: absolute;
	top: 588px;
	left: 515px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	font-style: italic;
}

#sidebarleft {
	position: absolute;
	background-color: rgb(144, 144, 144);
	width: 140px;
	height: 435px;
	border-radius: 14px;
	box-shadow: 11px 13px 9px black;
	top: 313px;
	left: 582px;
}

#sidebarright {
	position: absolute;
	background-color: rgb(144, 144, 144);
	width: 140px;
	height: 435px;
	border-radius: 14px;
	box-shadow: 11px 13px 9px black;
	top: 313px;
	left: 1835px;
}

#topbar {
	position: absolute;
	background-color: rgb(144, 144, 144);
	width: 1465px;
	height: 140px;
	border-radius: 14px;
	box-shadow: 11px 13px 9px black;
	top: 148px;
	left: 547px;
}

#doft42 {
	position: absolute;
	width: 450px;
	height: 118px;
	top: 160px;
	left: 555px;
}

#arrow {
	position: absolute;
	width: 69px;
	height: 70px;
	top: 331px;
	left: 616px;
}

#hand {
	position: absolute;
	width: 72px;
	height: 73px;
	top: 413px;
	left: 613px;
}

#eye {
	position: absolute;
	width: 66px;
	height: 64px;
	top: 491px;
	left: 613px;
	border: 5.5px solid rgb(255, 0, 0); 
	border-radius: 6px;
}

#tools {
	position: absolute;
	width: 68px;
	height: 68px;
	top: 574px;
	left: 617px;
}

#chatychaty {
	position: absolute;
	width: 69px;
	height: 68px;
	top: 650px;
	left: 614px;
}

#cross {
	position: absolute;
	top: 258px;
	left: 1982px;
}

#refresh {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 158px;
	left: 1981px;
}

#mag {
	position: absolute;
	width: 260px;
	height: 148px;
	top: 159px;
	left: 1720px;
}

#panic {
	position: absolute;
	width: 70px;
	height: 96px;
	top: 330px;
	left: 1871px;
}

#towel {
	position: absolute;
	width: 75px;
	height: 55px;
	top: 438px;
	left: 1868px;
}

#brick {
	background-image: url("resources/brick.jpg");
	background-size: 30.2px;
	position: absolute;
	top: 498px;
	left: 1849px;
	max-width: 88%;
	width: 113.7px;
	height: 66.5px;
}

input {
	position: absolute;
	width: 15%;
	top: 611px;
	left: 517px;
	border: inset;
	border-radius: 1%;
}

#respondbutton {
	position: absolute;
	top: 610px;
	left: 915px;
	font-size: 14px;
}

#ikea {
	position: absolute;
	top: 740px;
	left: 1150px;
}

#invisible {
	display: none;
}