table {
	text-align: center;
	vertical-align: middle;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-left: auto;
	margin-right: auto;
}
td {
	position: relative;
	padding: 1.2vw;
	font-size: 1.2vw;
	font-weight: bold;
	width: 4vw;
}
#tdSpecial {
	position: relative;
	padding: 1.8vw;
	font-size: 0.4vw;
	font-weight: bold;
	width: 5vw;
}
th {
	background-color: #f9f5a0;
	font-size: 1.3vw;
	line-height: 2vw;
}
.hydrogen {
	background-color: #9e45a1;
}
.noblegas {
	background-color: #ed7729;
}
.alkali {
	background-color: #b62424;
}
.alkaline_earthmetal {
	background-color: #c7a443;
}
.metalloid {
	background-color: #4c5bb0;
}
.posttransition {
	background-color: #69bbeb;
}
.halogen {
	background-color: #e787f0;
}
.transitionmetal {
	background-color: #43e556;
}
.lanthanoid {
	background-color: #b38871;
}
.actinoid {
	background-color: #9a9450;
}
.m {
	position: absolute;
	font-weight: lighter;
	font-size: 0.7vw;
	bottom: 0;
	right: 0;
	margin: 0.1vw 0.1vw 0.1vw 0.1vw;
}
.num {
	position: absolute;
	font-weight: lighter;
	font-size: 0.7vw;
	bottom: 0;
	left: 0;
	margin: 0.1vw 0.1vw 0.1vw 0.1vw;
}
.roman {
	text-align: middle;
	font-weight: normal;
	font-size: 0.9vw;
	margin: 0.1vw 0.2vw 0.2vw 0.2vw;
}
body {
  background-image: url('https://wallpaperaccess.com/full/977893.jpg');
  background-size: 100vw;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  opacity: 0.9;
}
.header {
	font-size: 2.9vw;
	color: rgb(0, 0, 0);
}
.header1 {
	font-size: 0.7vw;
	color: rgb(0, 0, 0);
}